/**
 * CSS Variables
 * 
 * This file contains the global CSS variables used throughout the website, including:
 * - Color scheme
 * - Typography
 * - Spacing
 * - Breakpoints
 * - Shadows
 * - Transitions
 * - Z-index layers
 * 
 * @package GreenGarnishLabs
 * @version 1.0.0
 */

/* Global CSS Variables */
:root {
  /* Color Scheme */
  --primary-background: #010300;    /* Dark background color */
  --primary-text-color: #FEF5DE;    /* Light text color */
  --primary-cta: #FFA500;           /* Orange call-to-action color */
}

/* !SECTION */